{% extends 'base.html' %}

{% block title %}Et voici la liste des inscrits :{% endblock %}

{% block content %}

<table class="w3-table-all w3-hoverable" id="image-table">
    <thead>
        <tr>
            <th>Nom</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for person in persons %}
        <tr>
            <td>{{ person[1] }}</td>
            <td><a href="/delete/{{ person[0] }}" class="w3-button w3-teal w3-hover-red">Ré-initialiser le pseudo</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}